# folder
node_modules
test_data
ssl


# document
# uid, pwd, fakeUid, fakePwd
test/test.data.json
# secrect
library.setting.json
# development : { database, user, password }
# production : {database, user, password }
knex.setting.json

yarn.error.log
